
@import url('https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Roboto');

@font-face {
  font-family: 'CircularStd-Black';
  src: url(https://dpgvclkvnnsee.cloudfront.net/microsites/m3m_broadway/fonts/CircularStd-Black.eot), url(https://dpgvclkvnnsee.cloudfront.net/microsites/m3m_broadway/fonts/CircularStd-Black.html), url(https://dpgvclkvnnsee.cloudfront.net/microsites/m3m_broadway/fonts/CircularStd-Black.ttf), url(https://dpgvclkvnnsee.cloudfront.net/microsites/m3m_broadway/fonts/CircularStd-Black.woff), url(https://dpgvclkvnnsee.cloudfront.net/microsites/m3m_broadway/fonts/CircularStd-Black-2.html);
}

@font-face {
  font-family: 'CircularStd-Bold';
  src: url(https://dpgvclkvnnsee.cloudfront.net/microsites/m3m_broadway/fonts/CircularStd-Bold.eot), url(https://dpgvclkvnnsee.cloudfront.net/microsites/m3m_broadway/fonts/CircularStd-Bold.html), url(https://dpgvclkvnnsee.cloudfront.net/microsites/m3m_broadway/fonts/CircularStd-Bold.ttf), url(https://dpgvclkvnnsee.cloudfront.net/microsites/m3m_broadway/fonts/CircularStd-Bold.woff), url(https://dpgvclkvnnsee.cloudfront.net/microsites/m3m_broadway/fonts/CircularStd-Bold-2.html);
}

@font-face 
{
  font-family: 'Gotham';
  src: url(https://dpgvclkvnnsee.cloudfront.net/microsites/m3m_broadway/fonts/gothambold_2-webfont.eot.html), url(https://dpgvclkvnnsee.cloudfront.net/microsites/m3m_broadway/fonts/gothambold_2-webfont.html), url(https://dpgvclkvnnsee.cloudfront.net/microsites/m3m_broadway/fonts/gothambold_2-webfont.ttf), url(https://dpgvclkvnnsee.cloudfront.net/microsites/m3m_broadway/fonts/gothambold_2-webfont.woff), url(https://dpgvclkvnnsee.cloudfront.net/microsites/m3m_broadway/fonts/gothambold_2-webfont-2.html);
}


* {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

:before, :after {
  box-sizing: border-box; }

body {
  /*background: url('../images/img1.png') top right no-repeat;*/
  font-family: 'Lato',sans-serif;
  font-size: 12px;
  color: #fff;
  overflow-x: hidden;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

ul, li {
  list-style: none; }

a {
  color: #fff;
  text-decoration: none; }

a:active, .hover-body a:hover {
  outline: 0; }

h2 {
  font-weight: 300; }
  
h3 {
  font-weight: 300; }

h4 {
  font-weight: 300; }

h5 {
    font-size: 30px;
    color: $color_2;
    font-weight: 700;
    margin-bottom: 20px;
  }

h6 {
  font-weight: 300; }

input {
  font-size: 13px; -webkit-appearance: none;}

input:focus {
  outline: none; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button,
input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-outer-spin-button,
input[type=time]::-webkit-inner-spin-button,
input[type=time]::-webkit-outer-spin-button {
  -webkit-appearance: none; }

input[type=date] {color: #fff;}
select{-webkit-appearance: none;appearance: none;-moz-appearance: none; border-radius: 0;}
textarea {resize: none;}
.intl-tel-input .country-list {overflow-x: hidden; line-height: normal;font-size: 15px;}
input.error, select.error, textarea.error {border-color: red !important}

.main-wrapper
{
      width: 90%;
      max-width: 1220px;
      margin: 0 auto;

}

section
{
  padding:94px 0px;
}
/**********Header Text*************/
nav a.active
{
  border-bottom: 2px solid #a07d50;
}
header
{
   
    color:#fff;
    font-size:12px;
}
.nav-xs
{
  display: none;
}
.menu-wrapper
{
    position: fixed;
    width:100%;
    background-color:#dddddd;
    z-index:999;
    padding:-3px 0px;
    transition: all 0.6s ease 0s;

}
.menu-wrapper.active
{
  background-color:rgba(ca,ca,ca,0.9);
}
.menu-wrapper .main-wrapper
{
     display: flex;
    justify-content: space-between;
    flex-flow: row;
    align-items: center;
}

.logo-container
{
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-container .logo:first-child
{
/*   padding-right:30px;
  margin-right:30px; */
  /*border-right:1px solid #fff;*/
}
.top-list-container
{
  display: flex;
  justify-content: flex-end;
  align-items:center;
  order: 1;
}
.top-list-container a
{
  padding-right:20px;
  color: #f16278;
  font-size:16px;
  text-decoration: none;
  /*margin-bottom:15px;*/
  letter-spacing: 2px;
}
.top-list-container a:hover,.top-list-container a:focus,.top-list-container a:active
{
  color:#fff;
  text-decoration: none;
}
.top-list-container a span
{
  margin-right:10px;
}

.top-list-container a span .fa-phone
{
    font-size: 16px;
    vertical-align: middle;
    line-height: 29px;
    height: 30px;
    width: 30px;
    border: 2px solid #fff;
    border-radius: 100%;
    text-align: center;
}
.top-list-container a.schdeule-visit-btn
{
    padding: 6px 8px;
    background-color: #b99756;
    border-radius: 5px;
    text-transform: uppercase;
    font-family: robot;
    position: fixed;
    top: 28%;
    transform: rotate(-90deg);
    right: -61px;
    
}

.mbtn-sch
{
  display:none;
}


.menu-list {
  width: 52
  display: flex;
  justify-content: space-between;
}

.menu-list ul
{
    display: flex;
    flex-flow:row;
    justify-content: space-between;
    padding-top: 0px;

}
.menu-list ul li a
{
   
   font-size:13px;
   color:#000;
   padding:10px 15px;
   text-decoration: none;
  font-weight:600;
  text-transform:uppercase;
  

}
.menu-list ul li a:hover,.menu-list ul li a:active,.menu-list ul li a:focus
{
    text-decoration: none;
}

.nav-xs-close
{
  display: none;
}
.thank-you-page .menu-list
{
  justify-content: flex-end;
}
/**********Header*************/

/*********Banner**********/
.banner-container
{
  padding-top:59px;
}
.banner-wrapper
{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
#banner .item
{
  /*background-position: right bottom;*/
  background-size: cover;
  width: 100%;
  height: calc(100vh - 110px);
}
#banner .item1
{
  background-image: url("../images/banner/banner_3.jpg");
}
#banner .item2
{
  background-image: url("../images/banner/banner_4.jpg");
}
#banner .item3
{
    background-image: url("../images/banner/banner_9.jpg");
  
}
#banner .item4
{
  background-image: url("../images/banner/banner-04.jpg");
}
#banner .item5
{
  background-image: url("../images/banner/banner-05.jpg");
}
#banner .item6
{
  background-image: url("../images/banner/banner-06.jpg");
}
.banner-text
{
  font-size:70px;
  color:#fff;
  font-weight:700;
  text-transform:uppercase;
  letter-spacing:4px;
  text-shadow:2px -1px 1px #333333;
}

#banner .owl-nav
{
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  font-size: 0;
}
#banner.owl-carousel .owl-nav .owl-prev
  {
     background: url("../images/banner/arrow-prev2.png")  no-repeat;
    left:1%;
    width: 32px;
    height: 7px;
    position: absolute;
     transition: all .3s ease;
  }

  #banner.owl-carousel .owl-nav .owl-next
  {
     background: url("../images/banner/arrow-nxt1.png") right no-repeat;
    right:1%;
    width: 32px;
    height: 7px;
    position: absolute;
    transition: all .3s ease;
  }
  #banner.owl-carousel .owl-nav .owl-next:hover {
    transform: translateX(10px);
    width: 30px;
}
.owl-carousel .owl-stage-outer
{
/*padding-top:100px;*/
}
a.down-arrow{
  width: 30px;
  height: 30px;
  display: block;
  margin: 0 auto;
  border: 3px solid #b99756;
  border-left-color: transparent;
  border-top-color: transparent;
  transform: rotate(45deg);
}
/*********Banner**********/

/*************************Offer**************************/
#offer-code
{
  padding:60px 0px;
}
   .offer-container
   {
    display: flex;
    justify-content: space-between;
    background-color:#f4f4f4;
    border:1px solid #ccc;
    align-items:center;
    -webkit-box-shadow: 10px 10px 0px 1px rgba(217,217,217,1);
    -moz-box-shadow: 10px 10px 0px 1px rgba(217,217,217,1);
    box-shadow: 10px 10px 0px 1px rgba(217,217,217,1);

   }

   .offer-container .common-offer
   {
    width:33.33%;
    border-right:1px solid #ccc;
    display:flex;
    flex-flow: column;
    align-items:center;
    /*justify-content:center;*/
     padding:70px 0px 0px;
    height:480px;
   }

   .offer-container .common-offer:last-child
   {
    border: none;
   }

   .offer-head
   {
    font-size: 32px;
    font-weight: 700;
    color:#009698;
    position:relative;
    margin-bottom:15px;
    text-transform:uppercase;
   }
   .offer-head-arrow
   {
  /*  content:"";
    position: absolute;
    top:20px;
    left:0;
    right:0;
    margin:0 auto;*/
    width: 0px;
    height: 0px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #009698;
    margin-bottom:40px;
   }
  
    .scheme-data
    {
      color:#fff;
      font-size:20px;
      font-family: 'CircularStd-Bold';
      background-color:#faa61a;
      padding:10px 15px;
      font-weight:700;
      -webkit-box-shadow: 4px 5px 0px 1px rgba(217,217,217,1);
      -moz-box-shadow: 4px 5px 0px 1px rgba(217,217,217,1);
      box-shadow: 4px 5px 0px 1px rgba(217,217,217,1);
      margin-bottom:40px;
    }

    .scheme-no
    {
      font-size:28px;

    }

    .offer-desc
    {
      font-size:20px;
      color:#050606;
      line-height:25px;
      text-align:center;
      font-weight:500;
    }
    .divider
    {
      height:2px;
      background-color:#ccc;
      height: 2px;
      width: 80%;
      margin: 10px 0px;
    }
    .sp-data
    {
      margin-bottom:10px;
    }
    .tnc-offer
    {
      width: 100%;
      display: block;
      text-align: right;
      font-size: 8px;
    }
   /*************************Offer**************************/


 /***Footer form component***/
 .footer-form-wrp .main-wrapper
 {
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .footer-form-wrp ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
}
.footer-form-wrp ::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
}
.footer-form-wrp :-ms-input-placeholder { /* IE 10+ */
  color: #fff;
}
.footer-form-wrp :-moz-placeholder { /* Firefox 18- */
  color: #fff;
}

.footer-form-wrp input:focus::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
}
.footer-form-wrp input:focus::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
}
.footer-form-wrp input:focus:-ms-input-placeholder { /* IE 10+ */
  color: #fff;
}
.footer-form-wrp input:focus:-moz-placeholder { /* Firefox 18- */
  color: #fff;
}

.footer-form-wrp
{
  background: #104e94;
  width: 100%;
  padding: 10px 10px;
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
}
.footer-form-wrp.thankyou_page
{
  padding: 16px 10px;
}
.enqcontainer
{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  
}
.footer-form-wrp .form-head
{
  text-transform: capitalize;
  color: #ffffff;
  font-size: 20px;
  margin: 0 30px 0 0;
  font-weight:700;
  margin-bottom: 14px;
}


}

.footer-form-wrp .form
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
/*   padding-top: 10px; */
}

.footer-form-wrp form > div
{
   
    position: relative;
}

.footer-form-wrp input
{
/*     background: transparent; */
    border: 0px;
/*     border:1px solid #fff; */
    border-radius:2px;
    outline: none;
    padding: 9px 12px 9px;
    font-size: 14px;
    width: 100%;
  color: #000;
   

}

.footer-form-wrp input.active{
    /*background: #fff;*/
    color:#fff;
}

.footer-form-wrp label{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: block;
    position: relative;
    width: 100%;
}

/*.footer-form-wrp label:before{
    content: '';
    background: #fff;
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
}*/

.footer-form-wrp label:after{
    content: '';
    background: #fff;
    width: 100%;
    /*height: 36px;*/
    height: 0px;
    position: absolute;
    left: 0;
    bottom: 0;
    pointer-events: none;
    z-index: -1;
    transition: transform 0.3s;
    transform-origin: 50% 100%;
    transform: perspective(1000px) rotate3d(1, 0, 0, 90deg);
}

.footer-form-wrp input:focus ~ label:after{
    transform: perspective(1000px) rotate3d(1, 0, 0, 0deg);
}

.footer-form-wrp label span{
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    padding: 7px 0 0 14px;
    display: block;
    display: none;
}
.form-validate:before
{
    
    background: red !important;
   
}
.footer-form-wrp .project-wrp input{
    color: #fff;
/*    background: red;*/
}

.footer-form-wrp .project-wrp input.active{
    color: #000;
}

.footer-form-wrp .submit-wrp{
    width: 135px;
    background:#fff;
    position: relative;
    font-weight: 700;
    overflow: hidden;
  margin-bottom: 10px;
}

.footer-form-wrp .submit-wrp:after
  {
     
    animation: effect 4s ease-in-out  infinite;
    animation-fill-mode: forwards;  
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    width: 50%;
    height: 100%;
    opacity: 0;
    background: rgba(255, 255, 255, 0.13);
    background: linear-gradient(
    to right, 
    rgba(255, 255, 255, 0.13) 0%,
    rgba(255, 255, 255, 0.13) 77%,
    rgba(255, 255, 255, 0.5) 92%,
    rgba(255, 255, 255, 0.0) 100%
  );
  }
   @keyframes effect{
  0% {
    opacity: 1;
    top: -1%;
    left: -100%;
    transition-property: left, top, opacity;
    transition-duration: 0.5s, 0.5s, 0.5s;
    transition-timing-function: ease;
  }
  100% {
    opacity:1;
    top: -1%;
    left: 100%;
    transition-property: left, top, opacity;
  }
}
.footer-form-wrp .submit-wrp input{
    color: #000;
    position: relative;
    z-index: 1;
    cursor: pointer;
    border: 0;
  	font-weight: 600;
}

.footer-form-wrp .submit-wrp:before{
    content: '';
    display: none;
    background: #fecc03;
    width: 100%;
    height: 0%;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: all 0.3s;
    border-radius: 19px;
}

.footer-form-wrp .submit-wrp:hover:before{
    height: 100%;
}

.dropdown-wrp input{
    cursor: pointer;
}

.dropdown-wrp label:after {
/*    display: none;*/
}

.dropdown-wrp .dropdown{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    transition: transform 0.3s;
    transform-origin: 50% 100%;
    transform: perspective(1000px) rotate3d(1, 0, 0, 90deg);
    transition-delay: .1s;
}

.dropdown-wrp input:focus ~ .dropdown{
    transform: perspective(1000px) rotate3d(1, 0, 0, 0deg);
    transition-delay: .0s;
}

.dropdown-wrp .dropdown p {
    background: #eee;
    width: 100%;
    padding: 10px 20px;
    border-top: 1px solid #afafaf;
    cursor: pointer
}

.dropdown-wrp span{
    background: #fff;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 20px;
    height: 30px;
    margin: 0 6px 0 0;
    -webkit-clip-path: polygon(20% 30%, 50% 60%, 80% 30%);
    clip-path: polygon(20% 30%, 50% 60%, 80% 30%);
    transition: .3s;
}

.dropdown-wrp input.active ~ span
{
    background: #000;
}
.intl-tel-input.allow-dropdown .selected-flag, .intl-tel-input.separate-dial-code .selected-flag
{
  width:40px;
}
#mobi-enquire-btn, .close-btn {
    display: none;
}
.footer-form-wrp .intl-tel-input .selected-flag .iti-arrow
{
 right:0px !important;
}
.intl-tel-input .country-list .country .dial-code
{
  color:#000 !important;
}
.intl-tel-input .country-list .country-name
{
  color:#000 !important;
}


.main-form-otp
{
  display: flex;
  justify-content: center !important;
  align-items: center;
}
.display-otp
{
  display: none !important;
}
.flex-center-form
{
  
  justify-content: center !important;
  
}
 .footer-form-wrp form > .opt-filed
  {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    align-items:center;
    width:35%;
  }

    .otp-btns
    {
      display: flex;
      justify-content: space-around;
      align-items: center;;
    }
    .footer-form-wrp form > .opt-filed a
    {
      background: #f7a707;
      color: #000;
      text-decoration: none;
      padding: 10px 15px;
      margin: 0 10px;
      border-radius: 3px;
      background-color: #374e59;
      color:#fff;
    }
     .footer-form-wrp form > .opt-filed a:hover,.footer-form-wrp form > .opt-filed a:active,.footer-form-wrp form > .opt-filed a:focus
     {
      color:#fff;
     }
     .btn-disabled,.otp-disable
     {
      background:#ccc !important;
      cursor: not-allowed;
     }

  #contact-mob-ctr
  {

    position: fixed;;
    width: 50%;
    text-align: center;
    color:#fff;
    font-family: "Roboto";
    text-transform: uppercase;
    font-size: 16px;
    line-height: 33px;
    display: none;
    bottom: 0;
    z-index: 99;
    right: 0;
    background: #104e94;
    padding: 10px 0px;
    border-left: 2px solid #fff;
    text-decoration: none;

  }
#contact-mob-ctr:hover,#contact-mob-ctr:focus,#contact-mob-ctr:active
{
  text-decoration: none;
}

#mobi-enquire-btn 
{
    background-color: #000;
    bottom: 0;
    /*left: 0;*/
    padding: 10px 0;
    position: fixed;
   /* right: 0;*/
    text-align: center;
    /*width: 100%;*/
    width: 50%;
    font-family: "Roboto";
    text-transform: uppercase;
    font-size: 16px;
    line-height: 33px;
    color: #ffffff;
    text-decoration: none;
    z-index: 99;
}
.fa.fa-times.positioning 
{
    color: #ffffff;
    font-size: 25px;
    position: absolute;
    right: 20px;
    top: 10px;
}
#mobi-enquire-btn, .close-btn 
{
    display: none;
}
.error_new {
    border-bottom: 2px solid red !important;
}

 /***Footer form component***/


/***********About***************/

.about-container
{
  color:#000;
  display: flex;
  flex-flow: row;
  border-bottom: 1px solid #a07d50;
   
}

.features-wrp
{
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  color: #42545f;
  letter-spacing: -2px;
  width:80%;
  margin:0 auto;
}
.features-wrp strong
{
  display: block;
  font-size: 36px;
  font-family: 'GothamBold';
}
.features-wrp span{
  width: 1px;
  background-color: #425460;
}

.welcome-warp,.configuration-wrap
{
  width:100%;
  font-family: 'Raleway', sans-serif;
  padding-bottom:40px;
}
.welcome-warp
{
  /*border-right: 1px solid #cdcdcd;*/
}
.padding-right
{
  padding-right:0px;
}
.padding-left
{
padding-left:50px;
}
.head-welcome
{
  position: relative;
}

.head-welcome:after
{
    content: "";
    position: absolute;
    top: -85%;
    background-image: url(../images/welcome-head.png);
    width: 172px;
    height: 229px;
    background-size: cover;
    left: -12%;
}
.head-welcome:before
{
    content: "";
    position: absolute;
    bottom: 7%;
    height: 2px;
    width: 50px;
    background-color: #000;
}
.welcome-desc
{
  font-size:16px;
  line-height:28px;
  font-weight:500;
}

.welcome-head
{
  /*  font-size: 50px;
    line-height: 50px;*/
      font-size: 33px;
    line-height: 33px;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom:10px;
   
}
.welcome-head span
{
  font-weight:500;
  font-size:22px;

}
.welcoe-meta
{
  font-size: 30px;
  margin-bottom: 10px;
}
.welcome-meta-data
{
    font-size: 12px;
    padding-bottom: 40px;
    font-weight: 500;
}
.config-head
{
  font-size: 40px;
  font-weight: 700;
  padding-bottom:20px;
  position: relative;
}
.config-head:before
{
    content: "";
    position: absolute;
    bottom: 7%;
    height: 2px;
    width: 50px;
    background-color: #000;
}
.config-data-head
{
  font-weight:700;
}
.config-data 
{
    font-size:18px;
    display: flex;
    max-width: 500px;
    justify-content: space-between;
    width: 100%;
    padding:25px 0px;
    border-bottom:1px solid #cdcdcd;
}
.btn-config
{
   background: #d00014;
    color: #ffffff;
    font-size: 15px;
    padding: 10px 18px 8px;
    text-transform: uppercase;
    border: 0;
    border-bottom: 3px solid #a26a00;
    text-transform:uppercase;
    font-weight:700;
    letter-spacing:2px;
    border-radius: 6px;
}
.config-rera
{
  padding:40px 0px 0px;
  color:#000;
  font-weight:700;
}
.config-rera span:first-child
{
  padding-left:0px;
}
.config-rera span
{
    padding: 0px 10px;
    line-height: 30px;
}
/***********About***************/

/******Gallery*******/
.section-head
{
    font-size: 40px;
    color: #000;
    position: relative;
    margin-bottom: 30px;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-weight: 700;
}

.section-head:after
{
  content: "";
  position: absolute;
  bottom:2%;
  height:2px;
  width:50px;
  background-color:#7c7c7c;
  left: 0;
}
#gallery
{
  background-color:#000;
  
}


#gallery-amt
{
    overflow:hidden;
    padding:27px 0px;
}

#gallery .section-head
{
  color:#fff;
}
#gallery-amt.owl-carousel .owl-stage-outer
{
  overflow:initial;
}

#gallery-amt .owl-nav
  { 
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    font-size: 0;
  }
  #gallery-amt.owl-carousel .owl-nav .owl-prev
  {
     background: url(../images/gallery/arrow-prev.png) no-repeat;
    left:0;
    width: 35px;
    height: 27px;
    position: absolute;
    background-size: contain;
  }
   #gallery-amt.owl-carousel .owl-nav .owl-next
  {
     background: url(../images/gallery/arrow-next.png) no-repeat;
    right:0;
    width: 35px;
    height: 27px;
    position: absolute;
    background-size: contain;
  }
.fancybox-opened
{
  overflow: initial !important;
}
.amentities-cell
{
  position: relative;
}
.item-cell
{
  position: relative;
}


#gallery-amt .item-cell:hover:before
  {
    transform: scale(0);
  }
#gallery-amt .item-cell:before{
  transition: .4s;
}

#gallery-amt .item-cell:after{
  content: '';
    position: absolute;
    border: 2px solid #fff;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: calc(100% - 28px);
    height: calc(100% + 32px);
    transform: scale(1.05);
    display: block;
    z-index: 99;
    pointer-events: none;
    transition: .4s;
    opacity: 0;
}
#gallery-amt .item-cell:hover:after
{
  /*content:'';
  position: absolute;
  border:2px solid #fff;
  left: 14px;
  top: -32px;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  transform:scale(1);
  display: block;
  z-index:99;
  pointer-events: none;*/
  opacity: 1;
  transform: scale(1);
}
#gallery-amt .item-cell:hover:before
{
  content: '';
  background: url(../images/gallery/zoom-in.png) center center no-repeat;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  transform: scale(1.1);
  transition: all .2s ease;
  z-index:9;
  pointer-events: none;
  background-color:rgba(0,0,0,0.5);
  display: block;
}
#gallery-amt .item-cell img{
  transition: .4s;
}
#gallery-amt .item-cell:hover img{
  transform: scale(1.1);
}
/******Gallery*******/

/******Amenities*******/
#amentities
{
  background-image:url("../images/amenities/amenities-bg.png"); 
  background-size: cover;
  background-position: 40% center;
  background-attachment: fixed;
}
.amentities-wrapper
{
  position: relative;
}
.amentities-wrapper:before
{
  content:"";
  position:absolute;
  bottom:-15%;
  left:0;
  right: 0;
  margin:0 auto;
  height:52px;
  background-image:url("../images/amenities/shadow.png")

 
}
.section-head.amenities
{
  color:#000;
}
.section-head.amenities.section-plans
{
  margin-bottom:0px;
  padding-bottom:0px;
}
.section-head.amenities:after
{
  background-color:#000;
}
#amentities-gallery .item-cell{
  overflow: hidden;
  transition: .4s;
}
#amentities-gallery .item-cell img{
  transition: .4s;
}
#amentities-gallery .item-cell:hover img{
  transform: scale(1.1);
}
#amentities-gallery .owl-nav
  { 
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    font-size: 0;
  }
  #amentities-gallery.owl-carousel .owl-nav .owl-prev
  {
     background: url(../images/amenities/arrow-prev2.png) no-repeat;
    left:-4%;
    width: 25px;
    height: 25px;
    position: absolute;
    background-size: contain;
  }
   #amentities-gallery.owl-carousel .owl-nav .owl-next
  {
     background: url(../images/amenities/arrow-nxt1.png) no-repeat;
    right:-4%;
    width: 25px;
    height: 25px;
    position: absolute;
    background-size: contain;
  }

  .item-desc
  {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
    display: block;
    padding: 10px 10px;
    font-size: 16px;
    background: -moz-linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.07) 69%, rgba(0,0,0,0.05) 70%, rgba(0,0,0,0.05) 70%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(30%, rgba(0,0,0,0.05)), color-stop(30%, rgba(0,0,0,0.05)), color-stop(31%, rgba(0,0,0,0.07)), color-stop(100%, rgba(0,0,0,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.07) 69%, rgba(0,0,0,0.05) 70%, rgba(0,0,0,0.05) 70%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.07) 69%, rgba(0,0,0,0.05) 70%, rgba(0,0,0,0.05) 70%); /* opera 11.10+ */
    background: -ms-linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.07) 69%, rgba(0,0,0,0.05) 70%, rgba(0,0,0,0.05) 70%); /* ie10+ */
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.07) 69%, rgba(0,0,0,0.05) 70%, rgba(0,0,0,0.05) 70%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=0 ); /* ie6-9 */
  }
/******Amenities*******/

/*************heighlightes****************/
#highlights
{
  background-color:#000;
}
.heighlights
{
    display: flex;
    justify-content: space-between;
    width: 98%;
    margin: 0 auto;
    flex-flow: row wrap;

}
.heighlights li
{
  font-size:18px;
  width:50%;
  margin-bottom:20px;
  display: flex;
/*   align-items:center; */
      line-height: 1.5;
 /* -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: all 0.3s;*/
}
.heighlights li:hover
{
 /*-webkit-filter: grayscale(0%);
 -ms-filter: grayscale(0%);
 -moz-filter: grayscale(0%);
 -o-filter: grayscale(0%);
  filter: grayscale(0%);*/
}

.heighlights li span
{
  margin-right:10px;
}
/*************heighlightes****************/

/*************unitplan****************/
#floor_plans
{
    background-color:#f4f4f4;
}
.tab-wrapper
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom:40px;
}
#unit-plan-disp
{
  /*margin-bottom:50px;*/
}
.unit-tab
{
  display:flex;
  justify-content: flex-end;
  color:#000;
  font-size:17px;
  font-weight:700;
}
.unit-tab li
{
  padding: 10px;
  cursor: pointer;
  position: relative;
  font-family:'arial',sans-serif;
}

.unit-tab li:before
{
    content: "";
    position: absolute;
    height: 20px;
    left: 100%;
    width: 2px;
    background: #000;
    top: 26%;
    bottom: 0;
}

.unit-tab li:last-child:before
{
  display: none;
}
.unit-tab li.current:after
{ 
  content:"";
  position: absolute;
  left: 0;
  bottom:0;
  height:2px;
  width:100%;
  background-color:#b99756;

}
.unitplan-container
{
  display: none;
}
.unitplan-container.current
{
  display: flex;
}

.unit-slider.owl-carousel .owl-nav
  { 
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    font-size: 0;
  }
 .unit-slider.owl-carousel .owl-nav .owl-prev
  {
     background: url(../images/amenities/arrow-prev.png) no-repeat;
    left:-4%;
    width: 25px;
    height: 25px;
    position: absolute;
    background-size: contain;
  }
   .unit-slider.owl-carousel .owl-nav .owl-next
  {
     background: url(../images/amenities/arrow-nxt.png) no-repeat;
    right:-4%;
    width: 25px;
    height: 25px;
    position: absolute;
    background-size: contain;
  }

  .unitplan-cell
  {
    position: relative;
  }
  .unitplan-cell:after
  {
    content:"";
    bottom:2%;
    right:2%;
    position:absolute;
    background-image:url("../images/unitplan/zoom-in.png");
    height:31px;
    width:31px;
    pointer-events:none;
  }

  .rera-no
  {
    font-size:10px;
    color:#000;
    padding:10px 0px;
  }
/*************unitplan****************/

/*********Location************/
.location-wrapper .main-wrapper
{
  display: flex;
  justify-content: space-between;
}

.location-procimity,.location-map
{
  /*width:50%;*/
  color:#000;
}
.location-meta
{
  color:#000;
  font-size:20px;
 
}
.location-cell p
{
  font-size: 13px;
    color: #000;
    padding: 5px 0px 15px;
    font-weight: 500;

}
.location-meta.air-ent .location-cell
{
  border-bottom: 0px;
}
.location-meta
{
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.location-meta .location-cell
{
  width:80.33%;
  text-align: center;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding:-1px 30px;
}
.location-meta .location-cell:last-child
{
  border-right:0;
}
.location-meta.air-ent  .location-cell
{
  width:50%;
}
.location-dtl
{
  margin:40px 0px;
}
.location-map
{ 
  position: relative;
 
}
.location-map iframe
{ 
  width: 100%;

  margin: 0 auto;
  border: 0; 
} 
.location-map a
{
  display: block;
  
    display: block;
    line-height:0;
}
.location-map img
{
  width:100%;
}

.location-map:after
{
  content:"";
  position: absolute;
  /*background-image:url("../images/location/zoom-in.png");*/
  top:2%;
  right:2%;
  height:30px;
  width:28px;
  pointer-events:none;

}
/*********Location************/




/*********************About***************/
  .about-head
  {
    position: relative;
  }

  .about-head:after
  {
     content:"";
    left: -13%;
    top: -85%;
    position: absolute;
    height: 236px;
    width:195px;
    background-image:url("../images/about-head.png"); 
  }
  #about-main
  {
    background-color:#f4f4f4;
    padding-top:140px;
  }
  .about-wrapper .main-wrapper
  {
    display:flex;
    justify-content:space-between;
    align-items:center;
    position: relative;
    margin-bottom:110px;
  }
  .about-wrapper .main-wrapper:after
  {
    content:"";
    position: absolute;
    height:100%;
    width:2px;
    background-color:#ccc;
    top:0;
    left:42%;
  }
  .about-head,.about-desc
  {
    width:50%;
  }
  .about-desc
  {
    font-size:16px;
    color:#000;
    line-height:20px;
  }

    .about-head-main
    {
      font-size: 50px;
      line-height: 50px;
      font-weight: 800;
      text-transform: uppercase;
      margin-bottom: 10px;
      color:#000;
    }
    .about-head-meta
    {
      font-size: 25px;
      text-transform: uppercase;
      margin-bottom: 10px;
      color:#000;
    }

/*********************About***************/
/***************Video************************/
#video-emb
{
  padding:25px 0px;

}
#video-emb iframe
{
    width: 60%;
    height: 380px;
    margin: 0 auto;
    display: block;
}
/***************Video************************/

/***Descriptiom*************/
#description
{
  background-color:#000;
  font-size:12px;
  color:#fff;
}
.copy-right
{
  padding:20px 0px;
}
/***Descriptiom*************/

/****overlay********/
  body.active
  {
    overflow: hidden;
  }
  body.active .overlay
  {
    position: fixed;
    width: 100%;
    height:100%;
    background:rgba(0,0,0,0.7);
    top: 0;
    z-index:999;
    display:none;
    cursor: pointer;
    overflow: hidden;
  }

  body.active .overlay-1
  {
    position: fixed;
    width: 100%;
    height:100%;
    background:rgba(0,0,0,0.7);
    top: 0;
    z-index:99;
    display:none;
    cursor: pointer;
    overflow: hidden;
  }
  .overlay-2
  {
    position: fixed;
    width: 100%;
    height:100%;
    background:rgba(0,0,0,0.7);
    top: 0;
    z-index:99;
    display:none;
    cursor: pointer;
    overflow: hidden;
  }
/****overlay********/


/*********Popup form************/
  .configuration-popup .intl-tel-input.separate-dial-code .selected-dial-code,.book-myshow-container .intl-tel-input.separate-dial-code .selected-dial-code
  {
    color:#000 !important;
    font-weight:700;
  }

  .bkms-tnc
  {
    width:100%;
    text-align:right;
    width:100%;
    font-size:8px;
    color:#000;
  }

  .schdeule-visit .intl-tel-input.separate-dial-code .selected-dial-code
  {
    color:#000 !important;
    font-weight:700;
  }
  .configuration-popup,.schdeule-visit,.book-myshow-container
  {
    position: fixed;
    top:30%;
    width:40%;
    background-color:#fff;
    border:2px solid #b99756;
    left:0;
    right:0;
    margin:0 auto;
    z-index:9999;
    display: none;
  }

  .book-myshow-container
  {
    border:4px solid #20bdbe;
    border-radius:4px;
  }
  .bookmyhow-copy
  {
    font-size: 20px;
    color: #363636;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
    border-bottom: 5px solid #d9d9d9;
    margin-bottom: 20px;
    font-weight:700;
  }
  .bookmyhow-copy span
  {
    
  }

  .configuration-popup .intl-tel-input .selected-flag .iti-arrow,.schdeule-visit .intl-tel-input .selected-flag .iti-arrow,
  .book-myshow-container .intl-tel-input .selected-flag .iti-arrow
  {
    right: 0 !important;
    border-top: 7px solid #000;
  }

  .configuration-popup,.schdeule-visit,.book-myshow-container
  {
    padding:20px 20px;
  }

   .configuration-popup .element,.schdeule-visit .element,.book-myshow-container .element
   {
    margin:20px 0px;
    width:100%;
   }
   .book-myshow-container .element
   {
      width: 50%;
      display: flex;
      flex-flow: row;
      justify-content: space-evenly;
      padding: 0 10px;
   }
  .book-myshow-container #bookmyshow_popup_form
  {
    display: flex;
    flex-flow: row wrap;
  }
   .configuration-popup .element input,.schdeule-visit .element input,.book-myshow-container .element input
   {
    width:100%;
    border:2px solid #000;
    padding:10px 10px;
    background-color:#fff;
    color:#000;
    font-size:14px;
   }
   .book-myshow-container .element input
   {
       border:2px solid #9d9d9d;
       border-radius:2px;

   }

   .configuration-popup .close,.schdeule-visit .close,.book-myshow-container .close
   {
    position: absolute;
    font-size:18px;
    top: 6px;
    right:20px;
    cursor: pointer;
    color:#000;
    font-weight:700;
   }

  .configuration-popup button,.schdeule-visit button,.book-myshow-container button
   {
    display: block;
    padding: 10px 20px;
    background-color: #374e59;
    border: 0;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    max-width: 120px;
    margin: 0 auto;
    border: 2px solid #b99756;
    cursor:pointer;
   }
   .book-myshow-container button
   {
    max-width:100%;
    width:100%;
    border:0;
    border-bottom:5px solid #5b7a89;
    border-radius:4px;
   }
  .book-myshow-container button .loader-spinner
  {
    margin-right:15px;
  }
  .configuration-popup ::-webkit-input-placeholder,.book-myshow-container ::-webkit-input-placeholder
  { /* Chrome/Opera/Safari */
      color: #000;
    }
  .configuration-popup ::-moz-placeholder,.book-myshow-container ::-moz-placeholder 
  { /* Firefox 19+ */
       color: #000;
    }
  .configuration-popup :-ms-input-placeholder,.book-myshow-container :-ms-input-placeholder
  { /* IE 10+ */
       color: #000;
    }
  .configuration-popup :-moz-placeholder,.book-myshow-container :-moz-placeholder 
  { /* Firefox 18- */
       color: #000;
    }

  .configuration-popup input:focus::-webkit-input-placeholder,.book-myshow-container input:focus::-webkit-input-placeholder
   { /* Chrome/Opera/Safari */
       color: #000;
    }
  ,.configuration-popup input:focus::-moz-placeholder,.book-myshow-container input:focus::-moz-placeholder,.configuration-popup input:focus::-moz-placeholder 
  { /* Firefox 19+ */
        color: #000;
    }
  .configuration-popup input:focus:-ms-input-placeholder,.book-myshow-container input:focus:-ms-input-placeholder
   { /* IE 10+ */
      color: #fff;
    }
  .configuration-popup input:focus:-moz-placeholder,.book-myshow-container input:focus:-moz-placeholder
  { /* Firefox 18- */
       color: #000;
    }
/*********Popup form************/

/************OTP-forms***********/

.bookmyshow-otp
{
  display: flex;
  justify-content: center;
  align-items: center;
}
.schedule-otp-btns
{
  display: flex;
  justify-content: center;
}
.schedule-otp-btns a
{
  text-decoration: none;
  color:#fff;
  background-color: #374e59;
  border:2px solid #b99756;
  text-transform:uppercase;
  font-size:14px;
  padding:5px 10px;
  margin:0 10px;
}
.book-myshow-container .schedule-otp-btns a
{
  border:0;
  border-radius:3px;
  border-bottom:3px solid #5b7a89;
}


/************OTP-forms***********/

/**********Generic classes************/
.display-block
{
  display: block !important;
}

.display-none
{
  display: none !important;
}

@-webkit-keyframes ring {
  0% {
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }

  2% {
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
  }

  4% {
    -webkit-transform: rotate(-18deg);
    transform: rotate(-18deg);
  }

  6% {
    -webkit-transform: rotate(18deg);
    transform: rotate(18deg);
  }

  8% {
    -webkit-transform: rotate(-22deg);
    transform: rotate(-22deg);
  }

  10% {
    -webkit-transform: rotate(22deg);
    transform: rotate(22deg);
  }

  12% {
    -webkit-transform: rotate(-18deg);
    transform: rotate(-18deg);
  }

  14% {
    -webkit-transform: rotate(18deg);
    transform: rotate(18deg);
  }

  16% {
    -webkit-transform: rotate(-12deg);
    transform: rotate(-12deg);
  }

  18% {
    -webkit-transform: rotate(12deg);
    transform: rotate(12deg);
  }

  20% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@keyframes ring {
  0% {
    -webkit-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }

  2% {
    -webkit-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    transform: rotate(15deg);
  }

  4% {
    -webkit-transform: rotate(-18deg);
    -ms-transform: rotate(-18deg);
    transform: rotate(-18deg);
  }

  6% {
    -webkit-transform: rotate(18deg);
    -ms-transform: rotate(18deg);
    transform: rotate(18deg);
  }

  8% {
    -webkit-transform: rotate(-22deg);
    -ms-transform: rotate(-22deg);
    transform: rotate(-22deg);
  }

  10% {
    -webkit-transform: rotate(22deg);
    -ms-transform: rotate(22deg);
    transform: rotate(22deg);
  }

  12% {
    -webkit-transform: rotate(-18deg);
    -ms-transform: rotate(-18deg);
    transform: rotate(-18deg);
  }

  14% {
    -webkit-transform: rotate(18deg);
    -ms-transform: rotate(18deg);
    transform: rotate(18deg);
  }

  16% {
    -webkit-transform: rotate(-12deg);
    -ms-transform: rotate(-12deg);
    transform: rotate(-12deg);
  }

  18% {
    -webkit-transform: rotate(12deg);
    -ms-transform: rotate(12deg);
    transform: rotate(12deg);
  }

  20% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

.faa-ring.animated,
.faa-ring.animated-hover:hover,
.faa-parent.animated-hover:hover > .faa-ring 
{
  -webkit-animation: ring 2s ease infinite;
  animation: ring 2s ease infinite;
  transform-origin-x: 50%;
  transform-origin-y: 0px;
  transform-origin-z: initial;
}



.fa-beat
 {
  animation:fa-beat 5s ease infinite;
}
@keyframes fa-beat {
  0% {
    transform:scale(1);
  }
  5% {
    transform:scale(1.80);
  }
  20% {
    transform:scale(1);
  }
  30% {
    transform:scale(1);
  }
  35% {
    transform:scale(1.25);
  }
  50% {
    transform:scale(1);
  }
  55% {
    transform:scale(1.80);
  }
  70% {
    transform:scale(1);
  }
}

/**********Generic classes************/
.thankyou-wrapper
{
  width:60%;
  padding-top:120px;
  margin:0 auto;
  height:100vh;
  display:flex;
  flex-flow: column;
  justify-content:center;
  align-items:center;
}
.blog-section
{
  
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.blog-container
{
  display: flex;
}
.thankyou-msg
{
  
  color:#000;
  font-size:25px;
  text-align:center;
  font-weight:600;
  padding-bottom:30px;
  margin-bottom:30px;
  border-bottom:2px solid #ccc;
}
.blog-container .blog-img-container
{
  width:30%;
}
.blog-container .blog-img-container img
{
  width:100%;
}

.blog-container .blog-text
{
  width:70%;
  color:#009698;
  font-size:18px;
  font-weight:600;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 25px;
  display:flex;
  flex-flow: column;

}
.read-more-blog
{
  width:100%;
  text-align:left;
  text-decoration:underline;
  padding:10px 0px;
}
/**********waybeo*************/
.omk-ctc-btn
{
    position: fixed;
    top: 50%;
    z-index: 3;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    right: 0;
    color: #ff9933;
    padding: 10px 1px;
    display: block;   
    background-color: #ff9933;;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 32px;
    text-align: center;
}

.wbf-screen.active .intl-tel-input .selected-flag .iti-arrow
{

  border-top: 7px solid #000 !important;

}
/**********waybeo*************/
@media (max-width: 1400px){

.head-welcome:after
{
  background-size:contain;
  background-repeat: no-repeat;
  left:-9%;
}
.about-head:after
{
  height: 236px;
  width: 169px;
  top:-58%;
  background-repeat: no-repeat;
  background-size: contain;
  left: -9%;
}

}

@media (max-width: 1024px){

  body.active .overlay
  {
    z-index:99;
  }
  .menu-list {
        justify-content: center;
  }
  .nav-xs
  {
    display:block;
  }
.menu-wrapper nav
  {
    position: fixed;
    height: 100%;
    width: 100%;
    max-width: 320px;
    top: 0;
    right: 0;
    background-color: #cacaca;
    transform: translateX(100%);
    transition: all 0.5s ease;
    z-index:99;
  }

  .menu-wrapper nav ul
   {
    flex-flow:column;
    justify-content: center;
    align-items: center;
    height:100%;
   }
   .menu-wrapper nav ul li
   {
    padding:20px 25px;
   }
   .nav-xs
   {
      width: 10px;
      height: 30px;
      display: flex;
      align-items: flex-end;
      flex-direction: column;
      justify-content: center;
      z-index: 2;
      cursor: pointer;
      text-align: right
   }
   .nav-xs span
   {
    height: 2px;
    width: 200%;
    margin-bottom: 4px;
    background: #000;
    display: block;
    transition: 0.3s;
   }
   .menu-wrapper nav.active
   {
    transform: translateX(0);
   }
   .nav-xs-close
   {
    display:block;
     position: absolute;
    top: 20px;
    right: 20px;
    font-size: 20px;
   }
   

   /************about**************/
   #about
   {
    padding-top:80px;
   }
   .about-container
   {
      flex-flow: column;

   }
   .padding-right, .padding-left
   {
    padding:0;
   }

   .features-wrp
    {
      flex-direction: column;
      margin-top: 0;
      letter-spacing: 0px;
    }
   .welcome-warp, .configuration-wrap
   {
      width:100%;
   }
   .welcome-warp
   {
    border:0px;
    margin-bottom:50px;
   }
   .config-data
   {
    max-width:100%;
   }
   .head-welcome:after
   {
    left:-3%;
   }
   /************about**************/

   /************location**************/
   .location-wrapper .main-wrapper
   {
    flex-flow: column;
   }
   .location-map
   {
    width:100%;
   }
   .location-meta .location-cell
   {
      height:100%;
      min-height:136px;
   }
   /************location**************/


/************About main**************/
   .about-wrapper .main-wrapper
   {
    flex-flow: column;
   }
   .about-head, .about-desc
   {
    width:100%;
   }
   .about-wrapper .main-wrapper:after
   {
    display: none;
   }
   .about-head
   {
    margin-bottom:30px;
   }

/************About main**************/

.about-head:after
  {
     content:"";
     left: -4%;
     top: -49%;
     position: absolute;
     height: 150px;
     width: 123px;
     background-image:url("../images/about-head.png");
     background-size: contain;
  }
  .book-myshow-container
  {
    width:55%;
  }

  .top-list-container a.schdeule-visit-btn
  {
    top:30%;
  }
  .offer-head
  {
    font-size:25px;
  }
}
@media (max-width: 800px){

  .iti-mobile .intl-tel-input.iti-container
  {
    z-index: 9999;
  }

  .menu-wrapper
  {
    background-color: #cacaca;
  }
  .logo-container
  {
    width:60%;

  }
  .logo-container .logo img
  {
    /*width:100%;*/
  }
  .top-list-container 
  {
    display: none;
  }
  #mobi-enquire-btn, .close-btn
  {
    display: block;    
    background-color: #104e94;
    z-index: 99;

  }
  #mobi-enquire-btn
  {
    width:50%;
  }
  
  #banner .item1 {
    background-image: url(../images/banner/mobilebanner_3.jpg);
    background-position: center;
  }
  #banner .item2 {
    background-image: url(../images/banner/mobilebanner_4.jpg);
    background-position: center;
  }
  #banner .item3 {
    background-image: url(../images/banner/mobilebanner9.jpg);
    background-position: center;
  }

  
 
    @media only screen and (min-width:600px) {
      .webpatch{
        display:block;
      }
      .mobpatch{
        display:none;
      }
    }
    @media only screen and (max-width:600px) {
      .webpatch{
        display:none;
      }
      .mobpatch{
        display:block;
      }
    }
 
  
  
 #banner .item
  {
    height: calc(100vh - 120px);
  }
  #contact-mob-ctr
  {
    display: block;
  }
.footer-form-wrp
 {
    top:0;
    z-index: 999;
    width: 100%;
    width: 100%;
    padding: 40px 0px;
  }
  .footer-form-wrp
  {
    display: none;
  }
  .form-head
  {
    text-align: center;
  }
  .footer-form-wrp form
  {
    flex-flow: column;
    margin: 0 auto;
    width:100%;

  }
  .footer-form-wrp form > div
  {
    width:80%;
    margin-bottom: 15px;
  }
  .number-wrp
 {
  margin-bottom: 30px !important;
 }
 .footer-form-wrp .submit-wrp
 {
  width:50%;
  margin: 0 auto;
 }
.fa.fa-times.positioning
{
  top:3%;
}
.footer-form-wrp .main-wrapper
{
  flex-flow: column;
}

.footer-form-wrp .main-wrapper .form-head
{
  padding:0 0 20px;
}
.footer-form-wrp
{
  background-color:#0a0a0a;
}

.configuration-popup,.schdeule-visit,.book-myshow-container
{
  width:80%;
}
body.active .overlay
{
  z-index: 99;
}

.enqcontainer
{
  flex-flow:column;
}

.footer-form-wrp form > .opt-filed
{
  width: 80%;
  flex-flow:column;
  margin-top:10%;
}
.otp-btns
{
  margin:20px 0px;
}
html.iosBugFixCaret,body.iosBugFixCaret
  { 
    -webkit-overflow-scrolling : touch !important; 
    overflow: auto !important; height: 100% !important; 
  }

  .offer-head
  {
    font-size:20px;
  }
  .scheme-no
  {
    font-size:25px;
  }
  .scheme-data
  {
    font-size:15px;
  }
  .offer-desc
  {
    font-size:20px;
  }
  .offer-container .common-offer
  {
    padding:30px 0px 0px;
    height:440px;
  }
  .offer-head-arrow
  {
    margin-bottom:20px;
  }
  .omk-ctc-btn
  {
    top:30%;
  }
}

@media only screen and (max-width: 800px){
/*.owl-carousel .owl-stage-outer {
    padding-top: 62px;
}*/
}

@media (max-width: 767px){

  section
  {
    padding:70px 0px;
  }
  .section-head
  {
    font-size:20px;
  }

  /*************Main banner***************/
  #banner.owl-carousel .owl-nav .owl-prev,#banner.owl-carousel .owl-nav .owl-next
  {
    width:30px;
  }
  .banner-container
  {
    margin-bottom:70px;
  }

  .head-welcome:after
  {
      top:-60px;
       width: 158px;
       height: 198px;
  }
  /*************Main banner***************/
  #mobi-enquire-btn,#contact-mob-ctr
  {
    padding:5px 0px;
    overflow: hidden;
    
  }
 
  #mobi-enquire-btn,#contact-mob-ctr
  {
    padding:5px 0px;
    
  }
  #mobi-enquire-btn:after,#contact-mob-ctr:after
  {
     
    animation: shine 4s ease-in-out  infinite;
    animation-fill-mode: forwards;  
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    width: 50%;
    height: 100%;
    opacity: 0;
    background: rgba(255, 255, 255, 0.13);
    background: linear-gradient(
    to right, 
    rgba(255, 255, 255, 0.13) 0%,
    rgba(255, 255, 255, 0.13) 77%,
    rgba(255, 255, 255, 0.5) 92%,
    rgba(255, 255, 255, 0.0) 100%
  );
  }

  @keyframes shine{
  0% {
    opacity: 1;
    top: -1%;
    left: -100%;
    transition-property: left, top, opacity;
    transition-duration: 0.5s, 0.5s, 0.5s;
    transition-timing-function: ease;
  }
  100% {
    opacity:1;
    top: -1%;
    left: 100%;
    transition-property: left, top, opacity;
  }
}
/**********about project**************/
  #about
  {
    padding-top:0px;
  }
  .banner-text
  {
    font-size:25px;
  }
  .welcome-head
  {
    font-size: 22px;
    line-height: 19px;
    margin-bottom:5px;
  }
  .welcoe-meta
  {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .welcome-desc
  {
    font-size:14px;
    text-align: justify;
    line-height:20px;
  }
  .config-data
  {
    font-size:12px;
  }

  .btn-config
  {
    font-size:12px;
    padding: 7px 8px 6px;
  }
/**********about project**************/
/***********video************/
#video-emb iframe 
{
    width: 100%;
    height: 320px;
    margin: 0 auto;
    display: block;
}
/***********video************/


/**********about omkar**************/
.about-head-main
{
  font-size:31px;
  line-height:31px;
}
.about-head-meta
{
  font-size:22px;
  line-height:22px;
}

/**********about omkar**************/

.config-rera span
{
  line-height: 20px;
}

.config-data
{
  padding:15px 0px;
}

.unit-tab
{
  width:180px;
}

.section-head.amenities
{
  font-size:20px;
}

.section-head:after
{
  display: none;
}
.heighlights li
{
  width:100%;
  font-size:15px;
  margin-bottom:15px;
}
.config-head
{
  font-size:25px;
  padding-bottom:10px;
}
.welcome-warp
{
  margin-bottom:25px;
}
.book-myshow-container
{
  top:calc( 10% - 10px);
}
.bookmyhow-copy
{
  font-size: 14px;
    margin: 3px 0px;
    padding-bottom: 8px;
}
.book-myshow-container .element
{
  margin:5px 0px;
}
.bookmyhow-copy img
{
  font-size: 14px;
  margin: 5px 0px;
  width:40%;
}

.book-myshow-container .element
{
  width:100%;
}
.bookmyshow-otp
{
  flex-flow: column;
}
.mbtn-sch
{
  display:block;
}

.offer-container
{
  flex-flow:column;
}
.offer-container .common-offer
{
  width:100%;
  height:auto;
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
}
 .offer-desc
  {
    font-size: 16px;
    line-height: 20px;
  }

  .thankyou-wrapper
  {
    width:80%;
  }
  .thankyou-msg
  {
    font-size:16px;
  }
  .blog-container
  {
    flex-flow: column;
  }
  .blog-container .blog-img-container
  {
    width:100%;
    margin-bottom:20px;
  }
  .blog-container .blog-text
  {
    width:100%;
    padding:0;
    font-size:16px;
  }
  .read-more-blog
  {
    text-align:center;
  }
}